.servicio-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Centrado vertical y a la derecha */
.centro-derecha {
  position: absolute;
  top: 35%; /* antes 50%, sube un poco */
  right: 5%;
  transform: translateY(-50%);
  max-width: 450px;
  text-align: left;
}
.contenido-servicio h1 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 800;
}

.contenido-servicio p {
  font-size: 1.3rem;
  line-height: 1.7;
  margin: 0px ;
  color: white;
}

.boton-cotizar {
  background-color: #d3b81e;
  color: white;
  padding: 14px 30px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.boton-cotizar:hover {
  background-color: #d3b81e;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 145px 75px;
  border-radius: 0px;
  
}
