ya nose si sere feliz en algun momento de mi vida , ya que no espero nada de nadie todos me han defraudado y me han dejado solo pero no puedo hacer nada
solo ser hombre y aguantar sin importar si sufro por dentro o no porque? por el echo de ser hombre que no tengo que lorar ni estar triste porque sino sere
considerando debil. A veces creo que es mas facil titar la toalla como esas personas pero no soyb asi y la verdads espero nunca recurrir a los caminos o algo peor 
el suicidioespero nunhca llegar a tomar esa decision ya que lo ultimo que queda siy y 